<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/fontawesome.css" integrity="sha384-ozJwkrqb90Oa3ZNb+yKFW2lToAWYdTiF1vt8JiH5ptTGHTGcN7qdoR1F95e0kYyG" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/brands.css" integrity="sha384-7xAnn7Zm3QC1jFjVc1A6v/toepoG3JXboQYzbM0jrPzou9OFXm/fY6Z/XiIebl/k" crossorigin="anonymous">
	<title>Django Reactified!</title>
</head>
<body>
	<section class="section">
		<div class="container">
			<div class="column has-text-centered">
				<h1 class="is-size-1 has-text-weight-bold">Django <i class="has-text-primary fab fa-react"></i> <span class="has-text-info">Reactified!</span></h1>
				<p class="has-size-5 has-text-dark has-text-weight-bold">An elegant integration of the Django REST Framework, React, and Redux.</p>
				<hr>
			</div>
			<div class="panel">
				<div class="panel-heading">
					<h1 class="has-text-info">Enter a message...<span class="is-pulled-right"><a href="/admin/" class="has-text-primary">Admin</a> | <a href="/api/lead/" class="has-text-primary">API Root</a></span></h1>
				</div>
				<div class="panel-block">
					<div id="app" class="column"><!-- React --></div>
				</div>
			</div>
			<div class="column has-text-centered">
				<p class="has-text-dark has-text-weight-bold">Check out my <a href="https://www.github.com/ckz8780" class="has-text-primary">GitHub!</a></p>
			</div>
		</div>
	</section>
</body>
{% load static %}
<script src="{% static "frontend/main.js" %}"></script>
</html>